.p-paginator .p-dropdown {
    margin: 0rem 0.5rem;
    display: flex;
    align-items: center;
}

.p-paginator .p-dropdown .p-dropdown-label {
    display: flex;
    height: 2rem;
    align-items: center;
    padding: 0.5rem;
}

.p-datatable .p-column-header-content {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem 0rem;
    text-align: center;
}

.p-icon-field {
    height: 2rem;
    display: flex;
    margin-bottom: 1rem;
}

.p-icon-field>.p-input-icon {
    margin-top: -0.5rem;
}

.p-icon-field-left>.p-inputtext {
    padding-left: 2.5rem;
}

.p-column-filter-row {
    justify-content: end;
}

.p-column-filter-row .p-column-filter-element {
    margin: 0.3rem;
}

.p-fluid .p-inputtext {
    padding: 0.3rem 0.3rem;
}

.p-column-filter-overlay .p-column-filter-row-items {
    padding: 0.25rem;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
    margin: 2px 0;
    padding: 0.5rem 0.75rem;
}

.p-button.p-button-icon-only.p-button-rounded{
    height: 2.5rem;
}

.p-dialog {
    padding: 1rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 2px 0;
    padding: 0.5rem 0.75rem;
    /* justify-content: center; */
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter{
    padding-right: 1.75rem;
    margin-right: -1.75rem;
}

.p-inputtext{
    padding: 0.5rem 0.75rem;
}

.p-dropdown-filter-icon{
    margin-top: -0.5rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message{
    padding: 0.5rem 0.75rem;
}

.w-full{
    width: 100%;
}

.p-multiselect{
    padding: 0.3rem 0.5rem;
}

.p-multiselect-panel .p-multiselect-header{
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0 0 0 0;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox{
    margin-right: 0.5rem;
}

.p-multiselect-filter-icon{
    margin-top: -0.5rem;
}

.p-multiselect-panel .p-multiselect-items{
    padding: 0.25rem 0.25rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item{
    margin: 2px 0;
    padding: 0.5rem 0.75rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox{
    margin-right: 0.5rem;
}